body{
  background-color: #222930;
}

header {
  text-decoration: none;
  color: #CFBAB8;
  background-color: #B54439;
  color: hsl(0, 0%, 90%);
  font-size: 150%;
  display: flex;
  flex-flow: row;
  border-bottom: 5px solid #CFBAB8;
}

nav ul li{
  display: inline-flex;
  justify-content: space-between;
  text-align: center;
  padding: 2rem;
}

form{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 5rem 5rem 5rem 5rem
}

.formInput{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 2rem 2rem 2rem 2rem;
}

label{
  margin-right: 2rem;
}
