body{
  background-color: #222930;
  display: flex;
  flex-flow: column;
  align-items: center;
}

header {
  text-decoration: none;
  color: rgb(204,202,202);
  background-color: rgb(181, 68, 57);
  color: hsl(0, 0%, 90%);
  font-size: 150%;
  display: flex;
  flex-flow: row;
  border-bottom: 5px solid rgb(204,202,202);
  width: 100vw;
}

main {
  display: flex;
  align-items: flex-end;
}

label{
  font-size: 2rem;
  color: rgb(204,202,202);
}

select{
  width: 12rem;
}

.pinIt{
  background-color: rgb(181, 68, 57);
  height: 10vh;
  width: 30vw;
  font-size: 2rem;
  color: rgb(204,202,202);
  border-radius: 25px;
  border-color: rgb(204,202,202);
  cursor: pointer;
}

form{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  max-width: 70vw;
  height: 60vmin;
  margin: 0 0 0 5vw;
  background-color: rgb(54, 35, 33);
  border: 2px solid rgb(204,202,202);
  border-radius: 5px;
}

.formInput{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
  outline: none !important;
}

label{
  margin-right: 2rem;
}
