a {
  text-decoration: none;
  color: #d92b4b;
}
header {
  background-color: #000000;
  color: hsl(0, 0%, 90%);
  display: flex;
  flex-flow: row;
}
nav ul li{
  display: inline-flex;
  justify-content: space-between;
  text-align: center;
  padding: 2rem;
}
body{
  background-color: #222930;
}
p{
  color: #ffffff;
}
* {
  margin: 0;
}
.hero{

}
/* .links{
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
} */

#mapid {
  height: 280px;
  width: 400px;
}
